APP_PORT=8000
APP_SECRET='mysecrestkey'
NODE_ENV="development"

# FOR CLOUD SYSTEM
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/sjs_dev_db_1?schema=public"

# FOR LOCAL SYSTEM
#DATABASE_URL="file:./local.db"

MAIL_HOST=smtp.ethereal.emai
EMAIL_USE_TLS=true
EMAIL_USE_SSL=false
EMAIL_PORT=587
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
ORIGIN_URL=http://localhost:3000
WHITELIST="http://localhost:3000"
BASE_URL=http://localhost:8000
