.sticky-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: fixed;
  bottom: 0px;
  gap: 1rem;
  padding: 10px;
  text-align: right;
  z-index: 1000;
  left: 225px;
}

.menu-box {
  border: 0.5px solid rgb(185, 185, 185);
  border-radius: 5px;
  border-left: 3px solid lightseagreen;
  padding: 10px;

  height: calc(100vh - 250px);
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;

}

.table-container {
  height: 100%;
}

.table-responsive.custom-scroll {
  max-height: 100%;
  overflow-y: auto;
}

.menu {
  margin: 5px;

  label {
    margin-left: 5px;
  }
}

.permission-table {
  th {
    background-color: #eee;
  }
}